body {
  margin: 0;
}

.container {
  font-family: monospace;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.diff-set {
  height: 100%;
  overflow: hidden;
}

.diff {
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  overflow: hidden;
  transition-property: top, bottom;
  transition-duration: 0.45s;
  transition-timing-function: ease-in-out;
}

.active-diff {
  top: 0;
  bottom: 0;
}

.before-active-diff {
  top: -100%;
  bottom: 100%;
}

.after-active-diff {
  top: 100%;
  bottom: -100%;
}

.diff-contents {
  font-size: 12px;
  box-sizing: border-box;
  width: 700px;
  max-height: 100%;
  padding: 5px 10px;
  margin: 0 auto;
  overflow: auto;
}

.chunk {
  margin-top: 10px;
}

.chunk-header {
  margin-bottom: 5px;
}

.chunk-line {
  white-space: pre;
}

.chunk-line-flag {
  margin-right: 10px;
}