body {
  margin: 0;
}

.container {
  font-family: monospace;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.diff-set {
  height: 100%;
  overflow: auto;
}

.diff {
  font-size: 12px;
  width: 600px;
  padding: 5px 10px;
  margin: 25px auto;
  overflow: auto;
}

.active-diff {
  //font-size: 13px;
  //width: 700px;
}

.chunk {
  margin: 10px 0;
}

.chunk-header {
  margin-bottom: 5px;
}

.chunk-line {
  white-space: pre;
}

.chunk-line-flag {
  margin-right: 10px;
}